.table {
    width: 500px;
    border-spacing: 0px 0px;
}

.table td, .table th{
    border: 1px solid #6395ff;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.table thead{
    background-color: #dae1f8;
}

.table tfoot{
    background-color: #5776b1;
    color: #fff;
    text-align: right;
}

.Schedule{
    border-spacing: 0px 0px;
}

.Schedule td#day{
    width: 20px;
    text-align: center;
    font-size: 24px;
    background-color: #61a6e7;
} 

.Schedule td, .Schedule th{
    border: 2px solid #000000;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 6px;
    margin-right: 6px;
}

.Schedule thead{
    text-align: center;
}

td.headColor{
    background-color: #61a6e7;
}