.menu, .right-content, .header, .content, .addition, .under-panel{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    border: 1px solid rgb(65, 65, 223);
    background-color: teal;
    color: white;
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.right-content{
    float: right;
    width: 40%;
    height: inherit;
}

.menu{
    float: left;
    width: 50%;
    height: inherit;
}
